<h1>
    <app-progres-bar [progress]="counterProgress"></app-progres-bar>
    <app-countdon #countdown [init]="totalCountdown" (onDrecrease)="updateProgress($event)" (onComplete)="countdownFinished()"></app-countdon>

    <div class="initInput">
        <label for="">Inicia en : </label>
        <input type="text" id="totalCountdown" [(ngModel)]="totalCountdown">
    </div>

    <button (click)="countdown.startCountdown(); counterProgress = 0">Reiniciar</button>

</h1>
 
<h2>Componente de actividad</h2>

<app-lista-paises #lista></app-lista-paises>

<button (click)="lista;">Imprimir</button>

<br>

<label for="">Impresos de paises</label>
<app-print-pais></app-print-pais>


